/*Basic Styling*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(179, 48, 255);
}

html {
  background-color: #e4d5b9;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root{
    --bg-color: #e4d5b9;
}

body {
  margin: 0px;
  height: 100%;
}

nav {
  background-color: #e4d5b9;
  z-index: 10;
  width: 100%;
  position: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  -webkit-animation: slideIn 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
          animation: slideIn 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
}

.intro {
  display: flex;
  justify-content: center;
}

.email-on-side {
  position: fixed;
  transform: rotate(90deg);
  right: -4rem;
  bottom: 6rem;
  font-size: 1.5rem;
  -webkit-animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
          animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;       
}

.email-on-side p:hover {
  opacity: 1;
}

.email-on-side p {
  opacity: 0.5;
}

.greetingText1 {
  margin-bottom: 5rem;
  text-decoration: underline;
  text-decoration-color: rgb(179, 48, 255);
  text-decoration-thickness: 5px;
  text-underline-offset: 0.5rem;
}

.lingo-icons {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 1rem;
  left: 1rem;
  -webkit-animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
          animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
}

.lingo-icons img {
  width: 3rem;
  height: auto;
  margin: 0.4rem;
  opacity: 0.5; 
  -webkit-transition: opacity .2s;
          transition: opacity .2s; 
}

.lingo-icons img:hover {
  opacity: 1;
} 

.hamburger-button {
  display: none;
}

h1 {
  font-size: 5em;
  font-weight: normal;
}

p {
  font-family: monospace;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  color:#000;
  text-decoration: none;
}

li {
  margin: 1rem 3rem;
  font-size: 2rem;
  background: 
      linear-gradient(rgb(179, 48, 255) 0 0) 
      bottom /var(--d, 0) 2px 
      no-repeat;
  transition:0.5s;
  font-family: monospace;
}

li:hover {
cursor: pointer;
--d: 100%;
}


.logoTransparent {
  width: 5rem;
  height: auto;
  position: absolute;
  left: 3rem;
  top: 0.8rem;
  opacity: 0.7;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.logoTransparent:hover {
  transform: scale(0.7);
}

.aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.visible {
  opacity: 1;
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}  

.home-title span{
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(179, 48, 255);
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.home-title span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

@media (min-width: 1350px) {
  .wheelCogAnimation {
    position: absolute;
    top: 35rem;
    left: 45rem;
    -webkit-animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
    animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
    z-index: 5;
  }
  
  .wheelCogLarge {
    width: 15rem;
    height: auto;
    position: relative;
    left: 39rem;
    bottom: 14.2rem;
    opacity: 0.8;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
    animation-direction: reverse;
  }
  
  .wheelCogMedium {
    width: 12rem;
    height: auto;
    position: relative;
    left: 16rem;
    bottom: 25rem;
    opacity: 0.8;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
  }
  
  .wheelCogSmall {
    width: 10rem;
    height: auto;
    position: relative;
    right: 3rem;
    bottom: 19rem;
    opacity: 0.8;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
    animation-direction: reverse;
  }
  
  .greetingText {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    width: 90vw;
    color: #000;
    background-color: var(--bg-color);
    margin-top: 21rem;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    margin-left: 10rem;
  }
  
  .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 8rem;
  
  }
  
  .bio {
    text-align: left;
    font-size: 1.5rem;
    width: 45rem;
    color: white;
    background-color: rgb(179, 48, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 5;
    position: relative;
    opacity: 0;
  }
  
  .bio p {
    margin: 2rem;
    line-height: 2rem;
    
  }
  
  .bio-card {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .imageOfMe {
    position: relative;
    opacity: 0;
    height: auto;
    border: white solid 2rem;
    width: 35rem;
    margin-left: -9rem;
    margin-top: 10rem;  
  }

  .logoTransparent {
    display: none;
  }

  .logoTransparentNav {
    width: 5rem;
    height: auto;
    position: absolute;
    left: 3rem;
    top: 0.8rem;
    opacity: 0.7;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
}

@media screen and (max-width: 1349px) {

  .wheelCogAnimation, .wheelCogLarge, .wheelCogMedium, .wheelCogSmall{
    display: none;
  }
  
  .greetingText {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #000;
    background-color: var(--bg-color);
    margin-left: 8rem;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    margin-top: 10rem;
    margin-right: 7rem;
  }
   
  .bio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-left: 6rem;
  }
  
  .bio {
    text-align: left;
    font-size: 1.5rem;
    width: 45rem;
    color: white;
    background-color: rgb(179, 48, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 5;
    position: relative;
    opacity: 0;
    margin-right: 10rem;
  }
  
  .bio p {
    margin: 2rem;
    line-height: 2rem;
  }
  
  .imageOfMe {
    position: relative;
    opacity: 0;
    width: 35rem;
    height: auto;
    border: white solid 2rem;
    margin-top: -4rem;
    margin-left: 14rem;
  }

  .logoTransparent {
    display: none;
  }

  .logoTransparentNav {
    width: 5rem;
    height: auto;
    position: absolute;
    left: 3rem;
    top: 0.8rem;
    opacity: 0.7;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
}

@media screen and (max-width: 1023px) {
  .wheelCogAnimation, .wheelCogLarge, .wheelCogMedium, .wheelCogSmall, .logoTransparent {
    display: none;
  }
  
  .email-on-side {
    position: fixed;
    transform: rotate(90deg);
    right: -4.5rem;
    bottom: 6rem;
    font-size: 1.5rem;
    -webkit-animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
            animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;       
  }
  
  .lingo-icons img {
    width: 2.5rem;
    height: auto;
  }
  
  h1{
      font-size: 4rem;
  }

  
  
  
  .logoTransparentNav {
    width: 4.5rem;
    height: auto;
    position: absolute;
    left: 3rem;
    top: 1rem;
    opacity: 0.8;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }

  .bio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-left: 6rem;
  }
  
  .bio {
    text-align: left;
    font-size: 1.5rem;
    width: 40rem;
    color: white;
    background-color: rgb(179, 48, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 5;
    position: relative;
    opacity: 0;
    margin-right: 10rem;
  }
  
  .bio p {
    margin: 2rem;
    line-height: 2rem;
  }
  
  .imageOfMe {
    position: relative;
    opacity: 0;
    width: 30rem;
    height: auto;
    border: white solid 2rem;
    margin-top: -4rem;
    margin-left: 14rem;
  }

}

@media screen and (max-width: 768px) {

  .wheelCogAnimation, .wheelCogLarge, .wheelCogMedium, .wheelCogSmall, .lingo-icons, .email-on-side {
    display: none;
  }
  nav {
    background-color: #e4d5b9;
    z-index: 25;
    width: 100%;
    position: fixed; 
    display: none;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    -webkit-animation: slideIn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slideIn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  li {
    margin: 1rem;
    font-size: 2.5rem;
    font-family: monospace;
    text-align: center;
  }

  ul {
    flex-direction: column;
    padding: 0;
  }

  .mobile-buttons {
    position: fixed;
    z-index: 25;
    -webkit-animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;
    animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;
  }

  .hamburger-button {
    width: 4rem;
    height: auto;
    position: fixed;
    right: 1rem;
    top: 1rem;
    opacity: 0.7;
    z-index: 25;
    display: block;
  }

  .greetingText {
    margin-left: 2.5rem;
    margin-top: 8rem;
    margin-right: 2.5rem;
  }
  
  .greetingText1 {
    text-underline-offset: 0.4rem;
  }
  
  h1{
      font-size: 3.5rem;
  }
  
  .logoTransparent {
    width: 3rem;
    height: auto;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    opacity: 0.7;
    display: block;
  }

  .logoTransparent:hover {
    transform: none;
  }
  

  .bio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    margin-left: 0;
    margin-right: 0;
  }
  
  .bio {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(179, 48, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 5;
    position: relative;
    opacity: 0;
    width: 100%;
    margin: 0;
  }
  
  .bio p {
    margin: 2rem;
    line-height: 2rem;
  }
  
  .imageOfMe {
    position: relative;
    opacity: 0;
    width: 30rem;
    height: auto;
    border: white solid 2rem;
    margin: 0;
    margin-top: -2rem;
  }

  .logoTransparentNav {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  
  h1 {
    font-size: 2.5rem;
  }

  .greetingText {
    margin-left: 2.5rem;
    margin-top: 8rem;
    margin-right: 2.5rem;
  }

  .greetingText1 {
    text-underline-offset: 0rem;
  }

  .bio {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(179, 48, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 5;
    position: relative;
    opacity: 0;
    width: 100%;
    margin: 0;
  }
  
  .bio p {
    margin: 0rem;
    line-height: 2rem;
  }

  .imageOfMe {
    position: relative;
    opacity: 0;
    width: 100%;
    height: auto;
    border: white solid 2rem;
    margin: 0;
    margin-top: -2rem;
  }


}

/*Animations*/

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

